server:
  port: 8082

spring:
  application:
    name: user-service
  datasource:
    url: jdbc:h2:mem:user_db
    driverClassName: org.h2.Driver
    username: user
    password: pass
  h2:
   console:
     enabled: true
  jpa:
   hibernate:
    ddl-auto: update
   show-sql: true
   database-platform: org.hibernate.dialect.H2Dialect
   
management:
  endpoints:
    web:
      exposure:
        include: health
  health:
    circuitbreakers: 
      enbaled: true
     
logging:
  level:
    io.github.resilience4j.circuitbreaker: DEBUG
    